<!-- TEMPORARY login screen -->
<h1>Sign in</h1>
<a class="button google" href="/login/federated/google">Sign in with Google</a>
<a class="button facebook" href="/login/federated/facebook"
  >Sign in with Facebook</a
>
<form action="/logout" method="post">
  <button type="submit">Logout</button>
</form>
